package ${table.packgeName}.infrastructure.persistence;

import com.bone.metadata.sdk.BaseRepository;
import com.bone.metadata.sdk.extension.ExtensionCoordinator;
import com.bone.metadata.sdk.query.SqlBuilder;
import com.bone.metadata.sdk.sql.executor.SqlExecutor;
import org.springframework.stereotype.Repository;

#if (${modelType} == "1")
import ${table.packgeName}.sdk.model.${table.className};
#elseif (${modelType} == "2")
import ${table.packgeName}.domain.model.${table.className};
#end
import ${table.packgeName}.domain.repository.${table.className}Repository;

/**
 * ${table.classComment} RepositoryImpl 接口
 *
 */
@Repository
public class ${table.className}RepositoryImpl extends BaseRepository<${table.className}, Long> implements ${table.className}Repository{

    public ${table.className}RepositoryImpl(SqlBuilder sqlBuilder, SqlExecutor sqlExecutor, ExtensionCoordinator extensionCoordinator) {
        super(sqlBuilder, sqlExecutor, ${table.className}.class, extensionCoordinator);
    }
}