// @ts-ignore
/* eslint-disable */
declare namespace ${bigModuleNameVar}.API {
 #foreach ($table in $tables)
  type ${table.className} = {
    #foreach ($column in $table.columns)
    #if(${column.javaType.toLowerCase()} == "integer" || ${column.javaType.toLowerCase()} == "byte")
      ${column.javaField}: number
    #elseif(${column.javaType.toLowerCase()} == "date")
      ${column.javaField}: Date
    #elseif(${column.javaType.toLowerCase()} == "long")
      ${column.javaField}: string
    #else
      ${column.javaField}: ${column.javaType.toLowerCase()}
    #end
    #end
  };

  type ${table.className}List = {
    data?: ${table.className}[];
    /** 列表的内容总数 */
    total?: number;
    success?: boolean;
  };

 #end
}
