package $packageName.application.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import org.hibernate.validator.constraints.Length;
import javax.validation.constraints.*;
import java.io.Serializable;
#foreach($column in $columns)
#if($column.javaType == "java.util.Date" || $column.javaType == "java.time.LocalDateTime")
import $column.javaType;
#end
#end

/**
 * $classCommentDTO
 * @author $author
 * @date $datetime
 */
@Data
@NoArgsConstructor
@Accessors(chain = true)
@ApiModel(value = "${className}DTO", description = "$classCommentDTO")
public class ${className}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

#if($primaryKey)
    /**
     * $primaryKey.comment
     */
    @ApiModelProperty(value = "$primaryKey.comment", example = "1")
    private $primaryKey.javaType $primaryKey.fieldName;

#end

#foreach($column in $businessColumns)
    /**
     * $column.comment
     */
    @ApiModelProperty(value = "$column.comment")
    private $column.javaType $column.fieldName;

#end

#if($table.isCreateTime)
    /**
     * 创建时间
     */
    @ApiModelProperty(value = "创建时间", readOnly = true)
    private java.time.LocalDateTime createdAt;

#end
#if($table.isUpdateTime)
    /**
     * 更新时间
     */
    @ApiModelProperty(value = "更新时间", readOnly = true)
    private java.time.LocalDateTime updatedAt;

#end
#if($table.isCreateBy)
    /**
     * 创建人
     */
    @ApiModelProperty(value = "创建人", readOnly = true)
    private Long createdBy;

#end
#if($table.isUpdateBy)
    /**
     * 更新人
     */
    @ApiModelProperty(value = "更新人", readOnly = true)
    private Long updatedBy;

#end
#if($table.isStatus)
    /**
     * 状态：0删除，1正常
     */
    @ApiModelProperty(value = "状态：0删除，1正常", example = "1")
    @Min(value = 0, message = "状态值必须大于等于0")
    @Max(value = 1, message = "状态值必须小于等于1")
    private Integer status;

#end
}