package $packageName.domain.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import javax.validation.constraints.NotNull;
import java.io.Serializable;
#foreach($column in $columns)
#if($column.javaType == "java.util.Date" || $column.javaType == "java.time.LocalDateTime")
import $column.javaType;
#end
#end

/**
 * $classComment
 * @author $author
 * @date $datetime
 */
@Data
@NoArgsConstructor
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("$table.tableName")
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
public class $className implements Serializable {
    private static final long serialVersionUID = 1L;

#if($primaryKey)
    /**
     * $primaryKey.comment
     */
    #if($primaryKey.javaType == "java.lang.Long")
    @TableId(value = "$primaryKey.columnName", type = IdType.AUTO)
    #else
    @TableId(value = "$primaryKey.columnName")
    #end
    private $primaryKey.javaType $primaryKey.fieldName;

#end

#foreach($column in $businessColumns)
#if($column.primaryKey)
#continue
#end
    /**
     * $column.comment
     */
    #if($column.isRequired || $column.notNull)
    @NotNull(message = "$column.comment不能为空")
    #end
    private $column.javaType $column.fieldName;

#end

#if($table.isCreateTime)
    /**
     * 创建时间
     */
    private java.time.LocalDateTime createdAt;

#end
#if($table.isUpdateTime)
    /**
     * 更新时间
     */
    private java.time.LocalDateTime updatedAt;

#end
#if($table.isCreateBy)
    /**
     * 创建人
     */
    private Long createdBy;

#end
#if($table.isUpdateBy)
    /**
     * 更新人
     */
    private Long updatedBy;

#end
#if($table.isDelFlag)
    /**
     * 删除标志
     */
    private Integer delFlag;

#end
}