<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.integration.infrastructure.mapper.FlowVersionMapper">
    <select id="getById" resultType="com.bone.integration.domain.model.FlowVersionDO">
        select * from t_flow_version
        where
            id = #{id}
            and deleted = 0
    </select>
    <select id="query" resultType="com.bone.integration.domain.model.FlowVersionDO">
        select * from t_flow_version where deleted = 0
        <if test="flowId != null">
            and flow_id = #{flowId}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
    </select>

    <select id="queryMaxVersion" resultType="com.bone.integration.domain.model.FlowVersionDO">
        select * from t_flow_version
        where id in (
            SELECT max(id) FROM `t_flow_version`
            WHERE
                deleted = 0
                and flow_version_status = 1
            GROUP BY flow_id
        )
        <if test="flowId != null">
            and flow_id = #{flowId}
        </if>
    </select>

</mapper>