export default {
    #foreach ($column in $columns)
    #if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段
        #if ("$!column.dictType" != "")##处理枚举值
        #end
    '${moduleNameVar}.${classNameVar}.${column.javaField}': '${column.columnComment}',
    #end
    #end

    '${moduleNameVar}.${classNameVar}.manager': '${table.classComment}管理',
    '${moduleNameVar}.${classNameVar}': '${table.classComment}',

    #foreach ($column in $columns)
    #if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段
        #if ("$!column.dictType" != "")##处理枚举值
        #end
    '${moduleNameVar}.${classNameVar}.${column.javaField}.rule': '${column.columnComment}是必填项，请输入值！',
    #end
    #end
  };
