#if (${modelType} == "1")
package ${table.packgeName}.sdk.model;
#elseif (${modelType} == "2")
package ${table.packgeName}.domain.model;
#end

import lombok.*;
import com.bone.core.domain.entity.AbstractEntity;
## 处理 BigDecimal 字段的引入
import java.util.*;
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#break
#end
#end
## 处理 LocalDate 字段的引入
#foreach ($column in $columns)
#if (${column.listOperationResult} && ${column.javaType} == "LocalDate")
import org.springframework.format.annotation.DateTimeFormat;
import java.time.LocalDate;
#break
#end
#end
## 处理 LocalDateTime 字段的引入
#foreach ($column in $columns)
#if (${column.listOperationResult} && ${column.javaType} == "LocalDateTime")
import java.time.LocalDateTime;
#break
#end
#end
#foreach ($column in $columns)
#if ("$!column.dictType" != "")## 有设置数据字典
import ${DictFormatClassName};
import ${DictConvertClassName};
#break
#end
#end

import com.bone.metadata.sdk.domain.annotation.Table;
/**
 * ${table.classComment}
 *

 */
@Table("${table.tableName.toLowerCase()}")
@Data
@EqualsAndHashCode(callSuper = false)
@ToString(callSuper = false)
@AllArgsConstructor
@NoArgsConstructor
public class ${table.className} extends AbstractEntity<Long> {

## 特殊：树表专属逻辑
#if ( $table.templateType == 2 )
    public static final Long ${treeParentColumn_javaField_underlineCase.toUpperCase()}_ROOT = 0L;

#end
#foreach ($column in $columns)
#if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段
    /**
     * ${column.columnComment}
    #if ("$!column.dictType" != "")##处理枚举值
     *
     * 枚举 {@link TODO ${column.dictType} 对应的类}
    #end
     */
    private ${column.javaType} ${column.javaField};

#end
#end

}