package ${table.packgeName}.domain.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;

import com.bone.core.model.PageResult;

import ${table.packgeName}.application.dto.query.${table.className}PageQuery;
import ${table.packgeName}.application.dto.query.${table.className}Query;
#if (${modelType} == "1")
import ${table.packgeName}.sdk.model.${table.className};
#elseif (${modelType} == "2")
import ${table.packgeName}.domain.model.${table.className};
#end
import ${table.packgeName}.domain.repository.${table.className}Repository;

/**
 * ${table.classComment}Domain Service
 */
@Service
public class ${table.className}Service {

    private final ${table.className}Repository ${classNameVar}Repository;

    @Autowired
    public ${table.className}Service(${table.className}Repository ${classNameVar}Repository) {
        this.${classNameVar}Repository = ${classNameVar}Repository;
    }

    public Long create${table.className}(${table.className} ${classNameVar}) {
        return ${classNameVar}Repository.insert(${classNameVar});
    }

    public ${table.className} get${table.className}(Long id) {
        return ${classNameVar}Repository.findById(id);
    }

    public void update${table.className}(${table.className} ${classNameVar}) {
        ${classNameVar}Repository.save(${classNameVar});
    }

    public void delete${table.className}(Long id) {
        ${classNameVar}Repository.deleteById(id);
    }

    public List<${table.className}> query${table.className}(${table.className}Query ${classNameVar}Query) {
        //Criteria<${table.className}>  criteria= Criteria.<${table.className}>create();
        //todo more 可使用findByCriteria 或executeNamedStatement 根据实际情况实现自定义查询
        //${classNameVar}Repository.findByCriteria(criteria);
        return ${classNameVar}Repository.query(${classNameVar}Query);
    }

    public PageResult<${table.className}> query${table.className}Page(${table.className}PageQuery ${classNameVar}PageQuery) {
        //Criteria<${table.className}>  criteria= Criteria.<${table.className}>create();
        //todo more 建议使用pageByCriteria 或executeNamedStatement 根据实际情况实现自定义查询
        //${classNameVar}Repository.pageByCriteria(criteria);
        return ${classNameVar}Repository.queryPage(${classNameVar}PageQuery);
    }
}