<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.infra.infrastructure.persistence.mapper.FieldMapper">

    <insert id="batchSaveWithId">
        insert into cfg_field (id, page_id, model_id, biz_code,
                               biz_name, field_type,
                               component_type, title, alignment,
                               prompt, placeholder, character_limit,
                               input_state, displayed, required,
                               default_value, default_value_type, default_value_expr,
                               data_format, min, max,
                               decimal_digit, multiples, select_type,
                               filter_type, select_datasource, placeholder_two,
                               placeholder_three, select_level, date_format_type,
                               earliest_datetime, latest_datetime, rowNumber,
                               column_number, sequence, deleted,
                               create_by, create_time, update_by,
                               update_time, data_binding)
        values
        <foreach collection="fieldDOList" item="i" separator=",">
            (#{i.id,jdbcType=BIGINT}, #{i.pageId}, #{i.modelId,jdbcType=BIGINT}, #{i.bizCode,jdbcType=VARCHAR},
            #{i.bizName,jdbcType=VARCHAR}, #{i.fieldType,jdbcType=BIT},
            #{i.componentType,jdbcType=VARCHAR}, #{i.title,jdbcType=VARCHAR}, #{i.alignment,jdbcType=BIT},
            #{i.prompt,jdbcType=VARCHAR}, #{i.placeholder,jdbcType=VARCHAR}, #{i.characterLimit,jdbcType=INTEGER},
            #{i.inputState,jdbcType=BIT}, #{i.displayed,jdbcType=BIT}, #{i.required,jdbcType=BIT},
            #{i.defaultValue,jdbcType=VARCHAR}, #{i.defaultValueType,jdbcType=BIT}, #{i.defaultValueExpr,jdbcType=VARCHAR},
            #{i.dataFormat,jdbcType=VARCHAR}, #{i.min,jdbcType=INTEGER}, #{i.max,jdbcType=INTEGER},
            #{i.decimalDigit,jdbcType=BIT}, #{i.multiples,jdbcType=INTEGER}, #{i.selectType,jdbcType=BIT},
            #{i.filterType,jdbcType=BIT}, #{i.selectDatasource,jdbcType=VARCHAR}, #{i.placeholderTwo,jdbcType=VARCHAR},
            #{i.placeholderThree,jdbcType=VARCHAR}, #{i.selectLevel,jdbcType=BIT}, #{i.dateFormatType,jdbcType=BIT},
            #{i.earliestDatetime,jdbcType=TIMESTAMP}, #{i.latestDatetime,jdbcType=TIMESTAMP}, #{i.rowNumber,jdbcType=INTEGER},
            #{i.columnNumber,jdbcType=INTEGER}, #{i.sequence,jdbcType=INTEGER}, #{i.deleted,jdbcType=BIT},
            #{i.createBy,jdbcType=BIGINT}, #{i.createTime,jdbcType=TIMESTAMP}, #{i.updateBy,jdbcType=BIGINT},
            #{i.updateTime,jdbcType=TIMESTAMP}, #{i.dataBinding,jdbcType=VARCHAR})
        </foreach>



    </insert>
</mapper>
