<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.infra.infrastructure.persistence.mapper.ModelMapper">

    <insert id="batchSaveWithId">
        insert into cfg_model (id, page_id, name, entity_code, data_binding_prefix, extra_field_prefix,
                               table_name, status, deleted, create_by, create_time, update_by, update_time)
        values
        <foreach collection="modelDOList" item="i" separator=",">
            (#{i.id}, #{i.pageId}, #{i.name}, #{i.entityCode}, #{i.dataBindingPrefix}, #{i.extraFieldPrefix},
             #{i.tableName}, #{i.status}, #{i.deleted}, #{i.createBy}, #{i.createTime}, #{i.updateBy}, #{i.updateTime})
        </foreach>
    </insert>
</mapper>
