<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.infra.infrastructure.persistence.mapper.OptionSetMapper">

    <delete id="deleteByParentIdAndCode">
        delete from option_set where parent_id = #{parentId}
        and code in
            <foreach collection="codeList" item="i" open="(" separator="," close=")">
                #{i}
            </foreach>
    </delete>

    <insert id="batchSaveWithId">
        insert into option_set (node_type, parent_id, set_desc, name, code, use_scope, extra_property_key, extra_property,
        status, deleted, create_by, create_time, update_by, update_time)
        values
        <foreach collection="optionSetList" item="i" separator=",">
            (#{i.nodeType}, #{i.parentId}, #{i.setDesc}, #{i.name}, #{i.code}, #{i.useScope}, #{i.extraPropertyKey},
            #{i.extraProperty}, #{i.status}, #{i.deleted}, #{i.createBy}, NOW(), #{i.updateBy}, #{i.updateTime})
        </foreach>
    </insert>


</mapper>
