<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.infra.infrastructure.persistence.mapper.SubmitRuleMapper">

    <insert id="batchSaveWithId">
        insert into cfg_submit_rule (id, field_list, function_type, function_name,
                                     operator, value_type, value, status, page_id,
                                     generic_or_exclusive, error_prompt, deleted,
                                     create_by, create_time, update_by, update_time)
        values
        <foreach collection="submitRuleDOList" item="item" separator=",">
            (#{item.id}, #{item.fieldList}, #{item.functionType}, #{item.functionName},
                #{item.operator}, #{item.valueType}, #{item.value}, #{item.status}, #{item.pageId},
                #{item.genericOrExclusive}, #{item.errorPrompt}, #{item.deleted},
                #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <select id="getMaxSequenceByPageId" resultType="java.lang.Integer">
        select max(sequence) from cfg_submit_rule where page_id = #{pageId} and deleted = 0
    </select>
</mapper>
