<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.infra.infrastructure.persistence.mapper.TableDataRowEditMapper">


    <select id="getMaxSequenceByTableId" resultType="java.lang.Integer">
        select max(sequence) from cfg_table_data_row_edit where table_id = #{tableId} and deleted = 0
    </select>

    <select id="getMaxSequenceByPageId" resultType="java.lang.Integer">
        select max(sequence) from cfg_table_data_row_edit where page_id = #{pageId} and deleted = 0
    </select>
</mapper>
