package ${table.packgeName}.adapter.web;

import javax.annotation.Resource;
import java.util.List;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.tags.Tag;
import jakarta.validation.Valid;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;

import com.bone.core.result.PageResult;
import com.bone.core.result.Result;
import com.bone.core.util.JsonUtil;

import ${table.packgeName}.application.${table.className}ApplicationService;
import ${table.packgeName}.application.dto.${table.className}DTO;
import ${table.packgeName}.application.dto.query.${table.className}PageQuery;
import ${table.packgeName}.application.dto.query.${table.className}Query;


/**
 * ${table.classComment}管理控制器，提供${table.classComment}相关的RESTful API接口
 */
@Tag(name = "${sceneEnum.name} - ${table.classComment}RESTful API接口")
@RestController
##二级的 businessName 暂时不算在 HTTP 路径上，可以根据需要写
@RequestMapping("/${table.moduleName}/${simpleClassName_strikeCase}")
@Slf4j
public class ${sceneEnum.prefixClass}${table.className}Controller {

    @Resource
    private ${table.className}ApplicationService ${classNameVar}ApplicationService;

    @PostMapping("/create")
    @Operation(summary = "创建${table.classComment}")
    @Parameter(name = "createRequest", description = "创建${table.classComment}对象", required = true)
    public Result<Long> create${table.className}(@Valid @RequestBody ${table.className}DTO createRequest) {
        log.info("【创建${table.classComment}】请求参数: {}", JsonUtil.toJson(createRequest));
        Long ${classNameVar}Id = ${classNameVar}ApplicationService.create${table.className}(createRequest);
        log.info("【创建${table.classComment}】成功，${table.classComment}ID: {}", ${classNameVar}Id);
        return Result.ok("创建${table.classComment}成功", ${classNameVar}Id);
    }


    @PutMapping("/update")
    @Operation(summary = "更新${table.classComment}", description = "更新指定${table.classComment}的信息")
    @Parameter(name = "updateRequest", description = "更新${table.classComment}对象", required = true)
    public Result<Void> update${table.className}(@Valid @RequestBody ${table.className}DTO updateRequest) {
        log.info("【更新${table.classComment}】 请求参数: {}", JsonUtil.toJson(updateRequest));
        ${classNameVar}ApplicationService.update${table.className}(updateRequest);
        log.info("【更新${table.classComment}】成功，获得${table.classComment}ID: {}", updateRequest.getId());
        return Result.ok();
    }

    @DeleteMapping("/delete")
    @Operation(summary = "删除${table.classComment}", description = "根据ID删除指定${table.classComment}")
    public Result<Void> delete${table.className}(
            @Parameter(description = "${table.classComment}ID", required = true, example = "1001")
            @RequestParam("id") Long ${classNameVar}Id) {
        log.info("【删除${table.classComment}】ID: {}", ${classNameVar}Id);
        ${classNameVar}ApplicationService.delete${table.className}(${classNameVar}Id);
        log.info("【删除${table.classComment}】成功，ID: {}", ${classNameVar}Id);
        return Result.ok();
    }

    @GetMapping("/get")
    @Operation(summary = "获得${table.classComment}")
    @Parameter(name = "id", description = "主键", required = true, example = "1024")
    public Result<${table.className}DTO> get${table.className}(@RequestParam("id") Long id) {
        ${table.className}DTO ${classNameVar}DTO = ${classNameVar}ApplicationService.get${table.className}(id);
        return Result.ok(${classNameVar}DTO);
    }

    @GetMapping("/list")
    @Operation(summary = "查询${table.classComment}")
    @Parameter(name = "${classNameVar}Query", description = "${table.classComment}查询对象", required = true)
    public Result<List<${table.className}DTO>> query${table.className}(@RequestBody ${table.className}Query ${classNameVar}Query) {
        List<${table.className}DTO> ${classNameVar}list = ${classNameVar}ApplicationService.query${table.className}(${classNameVar}Query);
        return Result.ok(${classNameVar}list);
    }

    @GetMapping("/page")
    @Operation(summary = "分页查询${table.classComment}")
    @Parameter(name = "${classNameVar}PageQuery", description = "分页${table.classComment}查询对象", required = true)
    public Result<PageResult<${table.className}DTO>> query${table.className}Page(@RequestBody ${table.className}PageQuery ${classNameVar}PageQuery) {
        PageResult<${table.className}DTO> ${classNameVar}PageResult = ${classNameVar}ApplicationService.query${table.className}Page(${classNameVar}PageQuery);
        return Result.ok(${classNameVar}PageResult);
    }
}