<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bone.lowcode.integration.infrastructure.mapper.FlowDefinitionMapper">
    <select id="getById" resultType="com.bone.lowcode.integration.domain.model.FlowDefinitionDO">
        select * from t_flow_definition
        where
            id = #{id}
            and deleted = 0
    </select>
    <select id="query" resultType="com.bone.lowcode.integration.domain.model.FlowDefinitionDO">
        select * from t_flow_definition where deleted = 0
        <if test="flowKey != null">
            and flow_key = #{flowKey}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
    </select>

</mapper>