<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="aliyunProjectName" source="aliyun.project.name"/>
    <springProperty scope="context" name="aliyunLogStore" source="aliyun.log.store"/>
    <springProperty scope="context" name="aliyunEndpoint" source="aliyun.end.point"/>
    <springProperty scope="context" name="aliyunAccessKeyId" source="aliyun.access.key.id"/>
    <springProperty scope="context" name="aliyunAccessKey" source="aliyun.access.key"/>

    <!-- 定义控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} -[%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义文件输出，文件按天滚动 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件路径 -->
        <file>logs/claimddd.log</file>
        <!-- 定义滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 滚动日志文件名格式 -->
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留历史日志文件的最大天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - [%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件路径 -->
        <file>logs/error.log</file>
        <!-- 定义滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 滚动日志文件名格式 -->
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留历史日志文件的最大天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - [%X{traceId}] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="LOG_HUP" class="com.pkh.openservices.log.logback.LoghubAppender">
        <!-- 工程名称 -->
        <app>${springAppName}</app>
        <!-- 账号及网络配置 -->
        <endpoint>${aliyunEndpoint}</endpoint>
        <accessKeyId>${aliyunAccessKeyId}</accessKeyId>
        <accessKeySecret>${aliyunAccessKey}</accessKeySecret>
        <!-- sls 项目配置 -->
        <project>${aliyunProjectName}</project>
        <logStore>${aliyunLogStore}</logStore>
        <!-- 可选项 -->
        <topic>${springAppName}</topic>
        <!--<source>your source</source>-->
        <!-- 可选项 详见 '参数说明'-->
        <totalSizeInBytes>104857600</totalSizeInBytes>
        <maxBlockMs>0</maxBlockMs>
        <ioThreadCount>8</ioThreadCount>
        <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
        <batchCountThreshold>4096</batchCountThreshold>
        <lingerMs>2000</lingerMs>
        <retries>10</retries>
        <baseRetryBackoffMs>100</baseRetryBackoffMs>
        <maxRetryBackoffMs>50000</maxRetryBackoffMs>
        <!-- 可选项 通过配置 encoder 的 pattern 自定义 log 的格式 -->
        <!--<encoder>-->
        <!--<pattern>%d %-5level [%thread] %logger{0}: %msg</pattern>-->
        <!--</encoder>-->
        <!-- 可选项 设置 time 字段呈现的格式 -->
        <timeFormat>yyyy-MM-dd'T'HH:mmZ</timeFormat>
        <!-- 可选项 设置 time 字段呈现的时区 -->
        <timeZone>UTC</timeZone>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>%tid</pattern>
            </layout>
        </encoder>
    </appender>


    <!-- 设置根日志级别和输出方式 -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="errorFile"/>
<!--        <appender-ref ref="LOG_HUP"/>-->
    </root>


    <!-- 定义特定包的日志级别 -->
    <logger name="com.bone.tpa.saas" level="debug" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
</configuration>