.idea
.gitee
.DS_Store
.idea/*
.idea/**
/target/
**/target/
**/logs/
/logs/
.idea/compiler.xml
.idea/misc.xml

*.iml
*.bak
/.idea/
/vcs.xml
/workspace.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
